In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
feature=pd.read_csv("E:\\Dsight\\walmart\\features.csv")
stores=pd.read_csv("E:\\Dsight\\walmart\\stores.csv")
train=pd.read_csv("E:\\Dsight\\walmart\\train.csv")
test=pd.read_csv("E:\\Dsight\\walmart\\test.csv")

In [4]:
X=pd.merge(stores,pd.merge(feature,train))
Y=pd.merge(stores,pd.merge(feature,test))

In [5]:
X["MarkDown1"]=X["MarkDown1"].fillna(X["MarkDown1"].mean())
X["MarkDown2"]=X["MarkDown2"].fillna(X["MarkDown2"].mean())
X["MarkDown3"]=X["MarkDown3"].fillna(X["MarkDown3"
                                      ].mean())
X["MarkDown4"]=X["MarkDown4"].fillna(X["MarkDown4"].mean())
X["MarkDown5"]=X["MarkDown5"].fillna(X["MarkDown5"].mean())

In [8]:
print(X)

        Store Type    Size        Date  Temperature  Fuel_Price    MarkDown1  \
0           1    A  151315  2010-02-05        42.31       2.572  7246.420196
1           1    A  151315  2010-02-05        42.31       2.572  7246.420196
2           1    A  151315  2010-02-05        42.31       2.572  7246.420196
3           1    A  151315  2010-02-05        42.31       2.572  7246.420196
4           1    A  151315  2010-02-05        42.31       2.572  7246.420196
...       ...  ...     ...         ...          ...         ...          ...
421565     45    B  118221  2012-10-26        58.85       3.882  4018.910000
421566     45    B  118221  2012-10-26        58.85       3.882  4018.910000
421567     45    B  118221  2012-10-26        58.85       3.882  4018.910000
421568     45    B  118221  2012-10-26        58.85       3.882  4018.910000
421569     45    B  118221  2012-10-26        58.85       3.882  4018.910000

          MarkDown2    MarkDown3    MarkDown4    MarkDown5         CPI  \
0       3334.628621  1439.421384  3383.168256  4628.975079  211.096358
1       3334.628621  1439.421384  3383.168256  4628.975079  211.096358
2       3334.628621  1439.421384  3383.168256  4628.975079  211.096358
3       3334.628621  1439.421384  3383.168256  4628.975079  211.096358
4       3334.628621  1439.421384  3383.168256  4628.975079  211.096358
...             ...          ...          ...          ...         ...
421565    58.080000   100.000000   211.940000   858.330000  192.308899
421566    58.080000   100.000000   211.940000   858.330000  192.308899
421567    58.080000   100.000000   211.940000   858.330000  192.308899
421568    58.080000   100.000000   211.940000   858.330000  192.308899
421569    58.080000   100.000000   211.940000   858.330000  192.308899

        Unemployment  IsHoliday  Dept  Weekly_Sales
0              8.106      False     1      24924.50
1              8.106      False     2      50605.27
2              8.106      False     3      13740.12
3              8.106      False     4      39954.04
4              8.106      False     5      32229.38
...              ...        ...   ...           ...
421565         8.667      False    93       2487.80
421566         8.667      False    94       5203.31
421567         8.667      False    95      56017.47
421568         8.667      False    97       6817.48
421569         8.667      False    98       1076.80

[421570 rows x 16 columns]

In [ ]:
X["Date"]=pd.to_datetime(X["Date"])
X['year'] = X['Date'].dt.year
X['quarter'] = X['Date'].dt.quarter
X['month'] = X['Date'].dt.month
X['day'] = X['Date'].dt.day
X['week_of_year'] = X['Date'].dt.isocalendar().week

In [ ]:
X.info()

In [ ]:

X['MarkDown_average'] = X[["MarkDown1","MarkDown2","MarkDown3","MarkDown4","MarkDown5"]].mean(axis=1)
X = X.drop(columns=["MarkDown1","MarkDown2","MarkDown3","MarkDown4","MarkDown5"])

In [ ]:
plt.figure(figsize=(15,10))
cor = sns.heatmap(X.corr(),vmin=-1, vmax=1, annot=True) 
cor.set_title('Correlation Heatmap', fontdict={'fontsize':12}, pad=12);
  
# displaying heatmap 
plt.show()

In [ ]:
sns.barplot(x = 'Type',
            y = 'Weekly_Sales',
            data = X,errorbar=('ci', 0))
plt.show()

In [ ]:
sns.barplot(x = 'IsHoliday',
            y = 'Weekly_Sales',
            data = X,errorbar=('ci', 0))

In [ ]:
sns.barplot(x = 'year',
            y = 'Weekly_Sales',
            data = X,errorbar=('ci', 0))
plt.show()

In [ ]:
sns.barplot(x = 'Type',
            y = 'Weekly_Sales',hue='year',
            data = X,errorbar=('ci', 0))

plt.show()

In [ ]:
sns.barplot(x = 'month',
            y = 'Weekly_Sales',
            data = X,errorbar=('ci', 0))

plt.show()

In [ ]:
sns.lineplot(x='month', y='Weekly_Sales', hue='year',data=X,errorbar=('ci', 0),
             palette=['r', 'g','b']).set(title='Weekly Sales By month', xlabel='Month', ylabel='weekly_sales')
sns.set_theme(style='white')

     u

In [ ]:
#df = X.groupby(['week_of_year', 'year']).count()['Weekly_Sales']
#df.unstack().plot()
#plt.xticks(rotation=0)
#plt.show()
#df

In [ ]:
sns.lineplot(x='week_of_year', y='Weekly_Sales', hue='year',data=X,errorbar=('ci', 0),
             palette=['r', 'g','b']).set(title='Weekly Sales By weeks', xlabel='week_of_year', ylabel='weekly_sales')
sns.set_theme(style='white')

In [ ]:
plt.figure(figsize=(10,8))
sns.lineplot(x='day', y='Weekly_Sales', hue='month',data=X,errorbar=('ci', 0),
             palette=['r', 'g','b']).set(title='Weekly Sales By month', xlabel='month', ylabel='weekly_sales')
sns.set_theme(style='white')
plt.legend(loc='upper left', title='year')

plt.show()

In [ ]:
sns.barplot(x = 'Type',
            y = 'MarkDown_average',errorbar=('ci', 0),
            data = X)
plt.show()

In [ ]:
sns.barplot(x = 'year',
            y = 'MarkDown_average',errorbar=('ci', 0),
            data = X)
plt.show()

In [ ]:
X.to_csv("D:\\X.csv")

In [ ]:
sns.barplot(x = 'year',
            y = 'Fuel_Price',
            data = X)
plt.show()

In [ ]:
sns.barplot(x = 'Type',
            y = 'MarkDown_average',hue='year',
            data = X)

plt.legend(loc='upper right', title='year')
plt.show()

In [ ]:
sns.barplot(x = 'Type',
            y = 'CPI',
            data = X)

plt.show()